# Ignore meta system files
~*
.DS_store
# Ignore venv and other directories
venv/
__pycache__/

PPT 1 NEW/
MNE_preprocessing_db/
figures/
# Ignore large data files and images
~$*
*.idea
*.jpg
*.xlsx
*.csv
*.png
*.fif
