# Ignore meta system files
~*
.DS_store
# Ignore venv and other directories
venv/
__pycache__/
.idea/
PPT 1 NEW/
MNE_preprocessing_db/
figures/
windows/
# Ignore large data files and images
~$*
*.jpg
*.xlsx
*.csv
*.png
*.fif
